.carousel-item img {
    height: 80vh; /* Les images prennent 80% de la hauteur de l'écran */
    object-fit: scale-down;
}

.img-thumbnail {
    cursor: pointer;
    height: 10vh;
    width: 10vw;
}

.img-thumbnail img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.btn-group .btn {
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
    line-height: 30px;
    text-align: center;
}
