{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-white text-center">Récapitulatif de la commande</h2>
    <div class="row justify-content-center mt-4">
        {% if cart_items %}
        <ul class="list-group col-8">
            {% for item in cart_items %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <img src="{{ item.image }}" alt="Image Commande" class="img-thumbnail" style="height: 80px; width: 80px;">
                <span class="font-weight-bold">Quantité : <span id="quantity-{{ loop.index0 }}">{{ item.quantity }}</span></span>
                <div>
                    <button class="btn btn-sm btn-outline-danger" onclick="updateCart('{{ item.image }}', 'decrease')">-</button>
                    <button class="btn btn-sm btn-outline-dark" onclick="updateCart('{{ item.image }}', 'delete')">Supprimer</button>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="text-white text-center">Votre panier est vide.</p>
        {% endif %}
    </div>
    <div class="text-center mt-4">
        <a href="/" class="btn btn-primary">Retour à la galerie</a>
    </div>
</div>

<script>
    function updateCart(image, action) {
        fetch("/update_cart", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ image: image, action: action })
        })
        .then(response => response.json())
        .then(data => location.reload())
        .catch(error => console.error('Erreur:', error));
    }
</script>
{% endblock content %}
