{% extends "base.html" %}

{% block content %}
<!-- container for both the carousel and thumbnails -->
<div id="galleryOuter" class="container-fluid">
    <!-- carousel section -->
    <div id="galleryCarousel" class="carousel slide" data-ride="carousel">
        <div id="carouselInner" class="carousel-inner">
            <!-- loop through all images passed in -->
            {% for image in images %}
            <!-- for the first image, need to set it as active -->
            {% if loop.index == 1 %}
            <div class="carousel-item active">
                <img class="d-block w-100" src="{{ image }}">
            </div>
            {% else %}
            <div class="carousel-item">
                <img class="d-block w-100" src="{{ image }}">
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <!-- renders the prev/next controller -->
        <a class="carousel-control-prev" href="#galleryCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#galleryCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- renders the thumbnail -->
    <div class="row flex-nowrap overflow-auto justify-content-center" id="gallery">
        {% for image in images %}
            <div class="img-thumbnail">
                <img src="{{ image }}" data-target="#galleryCarousel" data-slide-to="{{ loop.index - 1 }}"
                    alt="{{ image }}" class="img-fluid">
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}